{{!-- Buttons for the homepage --}}
<div>
    <button type="button" id="scrapeMe" class="btn btn-secondary col-md-4 mr-3 offset-2">Scrape for new
        Articles</button>
    <a href="/saved">
    <button type="button" id="isSaved" class="btn btn-secondary col-md-4">See Saved Articles</button>
    </a>
</div>