<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">"You are what you eat, so don't be fast, cheap, easy, or fake."</h1>
    <p class="lead"><h1></h1></p>
  </div>
</div>
  {{!-- my navigation buttons --}}
    <div>
    <button type="button" id = "scrapeMe" class="btn btn-secondary col-md-4 mr-3 offset-2">Scrape for new Articles</button>
    <button type="button" id = "isSaved" class="btn btn-secondary col-md-4">See Saved Articles</button>
    </div>